1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.

* ----> expression(operator)

'hello' ----> values

-87.8 ----> value (unary operator)

- ----> expression(operator)

/ ----> expression(operator)

   + ----> expression(operator)
    
6 ----> values

2. What is the difference between string and variable?

variable ----> variables are symbols that are used to store data or value in a program

Strings ----> Strings are type of character data which are used to store in a variable called as string variable

3. Describe three different data types.

In [ ]:
Buit-in datatypes of python are:
    * Numeric
    * Sequence type
    * Boolean
    * Set
    * Dictionary
    
Numeric data type represent data which has numeric value. Integers, Floating point numbers and complex numbers fall under 
Python Numeric category. These values are defined as int, float and complex class in python.

1.Integers --> It comprises of positive or negative whole numbers. In int class there is no limitation for the length 
            but limitation is there for memory. (ex: 1)
    
2.Float --> It is a real number represented by decimal point. (ex: 1.0)  

3.Complex --> complex numbers are represented by x+yj,where x is real part and y is imaginary part. Python supports complex data type as built-in feature.

4. What is an expression made up of? What do all expressions do?

Expressions are made up of operands and operators that are interpreted to produce some other value.
Expressions evaluates to a single value and in another terms they are representation of value.
example :- c = a + b - 5

5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

Expression is made up of values, containers, and mathematical operators (operands) and the statement is just like a command that a python interpreter executes.

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [2]:
bacon = 22

In [3]:
bacon + 1

23

7. What should the values of the following two terms be?

In [4]:
'spam' + 'spamspam'

'spamspamspam'

In [5]:
'spam' * 3

'spamspamspam'

8.Why is eggs a valid variable name while 100 is invalid?

because as per the variable declaration rules variable name should begin with alphabets or _.
It can not start with integers. And variable name can not be a integer so 100 is invalid and eggs is valid.

9.What three functions can be used to get the integer, floating-point number, or string
version of a value?

* integer = int()
* floating point number = float()
* string = str()

10. Why does this expression cause an error? How can you fix it?

In [6]:
 'I have eaten' + 99 + 'burritos'

TypeError: can only concatenate str (not "int") to str

we can concatenate only strings but not integer to string so the above expression throws an error.